@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-color: #019240;
    --text-color: #030000;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
    padding: 80px;
}
p {
    line-height: 25px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}
main{
    flex: 1;
}

p {
    line-height: 25px;
}
.mil {
    text-align:center ;
    margin-bottom: 20px;
}
.A-propos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    .A-propos {
        flex-direction: column;
        text-align: center;
    }
    .text-a-gauche, .photo-a-droite {
        width: 100%;
        margin: 0;
    }
    .text-a-gauche {
        margin-bottom: 20px;
    }
}
.text-a-gauche {
    width: 60%; 
    text-align: left;
    margin-right: 50px;
    flex: 6%;
}
.text-a-gauche p1 {
    font-size: 18px;
    font-weight: 400;
}
   
.photo-a-droite {
    width: 35%;
    height: auto;
}
.signature {
    display: flex;
    justify-content: space-between;
}
.photo, .Signature {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
}
.photo, .photop {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ffffff;
}
footer {
  background-color: #f4f4fa;
  font-size: 13px;
  text-align: center;
  padding: 5px 0;
  color: #333;
  width: 100%;
  position: relative;
  bottom: 0;
  
}
button {
    margin-top: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}
.text-a-gauche button {
    position: relative;
    color: inherit;
    isolation: isolate;
    text-decoration: none;
    font-weight: bold;
}
.text-a-gauche button:hover {
    background-color: #017a32;
    transform: scale(1.05);
}
footer a{
    color: #00c9c9;
    text-decoration: none;
}
